*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contanier{
    text-align: center;
}
#timeshow{
    font-size: 2em;
    margin-bottom: 20px;
}
.buttons button{
    font-size: 1em;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(50, 50, 198);
    color: white;
    border: none;
    border-radius: 5px;
}
.buttons button:hover{
    background-color: blue;
}